.profilescreen{
    background-color: #111;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: "Roboto", sans-serif;
  
}

.profilescreen__body{
    img{
        height: 4.3rem;
    }

}

.body__info{
    
    max-width: 37rem;
}

.body__user__details{

    &>*{
        margin-bottom: 1rem;
    }
    border-radius: .5rem;
    background-color: rgba(211, 211, 211, 0.137);
    padding: 1.2rem;
    text-transform: capitalize;
    .email{
        background-color: rgba(211, 211, 211, 0.829);
        padding: .3rem;
        border-radius: 2px;
        text-align: center;
        text-transform: lowercase;
        font-weight: 700;
    }
    .plans{
        font-weight: 600;    
    }
    .renewal{
       opacity: .8;
       font-size: .8rem; 
    }

}

.body__plans{
    &__type{
        font-weight: 500;
        font-size: .9rem;
        opacity: .9;
    }

    &__btn{
        border-radius: 5px;
        font-weight: 400;
        text-transform: lowercase;

        &__currentplan{
            background-color: rgba(gray,.4) !important;
            border: none !important;
            padding-left: 2rem  !important;
            padding-right: 2rem !important;
        }

        &__signout{
            width: 100%;
        }
    }
}