@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
.homescreen {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.nav {
  width: 100%;
  height: 4rem;
  background-color: transparent;
  position: fixed;
  top: -5px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 3;
}

.nav__black {
  background-color: #111;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 15px;
}

.nav__logo__avatar {
  height: 2rem;
  position: fixed;
  right: 30px;
  cursor: pointer;
  top: 15px;
}

@media (max-width: 768.98px) {
  .nav__logo {
    height: 4rem;
    top: -5px;
    left: -5px;
  }
  .nav__logo__avatar {
    right: 25px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.banner {
  height: 35rem;
  color: white;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.banner__contents {
  position: absolute;
  left: 2rem;
  bottom: 5.5rem;
  line-height: 5rem;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
}

.banner__discription {
  padding-top: 1rem;
  max-width: 31rem;
  line-height: 1.8rem;
  font-size: 0.9rem;
  font-weight: 400;
  height: 6rem;
}

.banner__button {
  padding: 0.6rem 1.8rem !important;
  background-color: rgba(82, 79, 79, 0.527) !important;
  outline: none;
  text-align: center !important;
  border: 0.5px solid rgba(245, 245, 245, 0.712) !important;
  margin-right: 2rem;
  letter-spacing: 2px;
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  border-radius: 2px;
}

.banner__button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #c01212 !important;
  outline: none !important;
}

.banner--fadebottom {
  height: 9rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 94, 251, 0)), to(#111));
  background: linear-gradient(180deg, rgba(63, 94, 251, 0) 0%, #111 100%);
}

@media (max-width: 768.98px) {
  .banner__contents {
    left: .8rem;
    bottom: 4.5rem;
    line-height: 3.5rem;
  }
  .banner__title {
    font-size: 2.3rem;
  }
  .banner__discription {
    line-height: 1.4rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 768.98px) {
  #movie {
    margin-left: .7rem !important;
  }
}

#movie {
  color: white;
  margin-left: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.movie__title {
  padding-left: 1rem;
}

.movie__posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem;
}

.movie__posters::-webkit-scrollbar {
  display: none;
}

.movie__poster {
  max-height: 12rem;
  margin-right: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.movie__poster:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.movie::-webkit-scrollbar {
  overflow-x: hidden;
}

.movie__poster__large {
  max-height: 20rem;
}

.movie__poster__large:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

@media (min-width: 1199.98px) {
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #85858569;
  }
  *::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(219, 219, 219, 0.404);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #cc0b0b;
    border: 1px solid #550000;
    border-radius: 10px;
  }
}

.login {
  color: white !important;
  position: absolute;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
  background-image: url("https://www.numerama.com/wp-content/uploads/2017/05/netflix.jpeg");
  background-image: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.login__background {
  height: 100%;
}

.login__logo {
  position: fixed;
  top: .8rem;
  left: 0.5rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 5;
}

.login__btn {
  z-index: 5;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  font-size: .8rem !important;
  color: white !important;
  padding: 0.4rem 1rem !important;
  border-radius: 5px !important;
  font-weight: 400 !important;
  background: #EB3349;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F45C43), to(#EB3349));
  background: linear-gradient(to right, #F45C43, #EB3349);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  letter-spacing: 2px;
}

.login__gradrient {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(110%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 110%);
}

.login__body {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 1rem auto;
  font-weight: 900 !important;
  min-width: 20rem;
  padding: .1rem;
  text-align: center;
  text-transform: capitalize;
  z-index: 15;
}

.login__body h4 {
  opacity: .9;
}

.login__body h6 {
  opacity: .7;
}

.login__body__input {
  border-radius: 5px;
}

.login__body__input input {
  background-color: rgba(0, 0, 0, 0.493);
  margin-right: 1rem;
  border-radius: 5px !important;
}

.login__body__input input:focus {
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  outline: none;
}

.login__body__input button {
  border-radius: 5px !important;
  font-weight: 400;
}

.signinscreen {
  padding: 1rem;
}

.signinscreen__card {
  border-radius: 1rem;
  -webkit-box-sizing: 0px 10px 20px rgba(0, 0, 0, 0.5);
          box-sizing: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 18rem;
  background-color: rgba(0, 0, 0, 0.644) !important;
  padding: 3rem 2rem;
  text-align: left;
  font-weight: 400;
}

.signinscreen input {
  background-color: rgba(255, 255, 255, 0.808) !important;
}

.signinscreen p {
  opacity: .5;
  text-transform: lowercase;
  margin-right: 5px;
  float: left;
}

.signinscreen button {
  font-weight: 500;
  width: 100%;
}

.signinscreen a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.signinscreen a:hover, .signinscreen a:focus {
  color: #a01919 !important;
}

.profilescreen {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Roboto", sans-serif;
}

.profilescreen__body img {
  height: 4.3rem;
}

.body__info {
  max-width: 37rem;
}

.body__user__details {
  border-radius: .5rem;
  background-color: rgba(211, 211, 211, 0.137);
  padding: 1.2rem;
  text-transform: capitalize;
}

.body__user__details > * {
  margin-bottom: 1rem;
}

.body__user__details .email {
  background-color: rgba(211, 211, 211, 0.829);
  padding: .3rem;
  border-radius: 2px;
  text-align: center;
  text-transform: lowercase;
  font-weight: 700;
}

.body__user__details .plans {
  font-weight: 600;
}

.body__user__details .renewal {
  opacity: .8;
  font-size: .8rem;
}

.body__plans__type {
  font-weight: 500;
  font-size: .9rem;
  opacity: .9;
}

.body__plans__btn {
  border-radius: 5px;
  font-weight: 400;
  text-transform: lowercase;
}

.body__plans__btn__currentplan {
  background-color: rgba(128, 128, 128, 0.4) !important;
  border: none !important;
  padding-left: 2rem  !important;
  padding-right: 2rem !important;
}

.body__plans__btn__signout {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */